.button {
    display: inline-block;
    text-align: center;
}

.button:hover,
.button:focus {
    text-decoration: none;
}

.medium {
    padding: 1rem;
    margin: 1rem;
}

.primary {
    color: var(--color-primary);
    background: transparent;
    border: 2px solid;
    border-radius: 15px;
}

.primary:hover,
.primary:focus {
    background: var(--color-surface);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.secondary {
    background: var(--color-primary);
    color: var(--color-surface);
    border: 2px solid;
    border-radius: 15px;
}

.secondary:hover,
.secondary:focus {
    background: var(--color-primary-hover);
    color: var(--color-surface);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
